.App {
  font-family: Arial, sans-serif;
  padding: 20px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

input {
  width: 80px;
}

td:first-child {
  font-weight: bold; /* Emphasize labels */
}

td {
  vertical-align: middle;
}

button {
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:nth-child(odd) {
  background-color: #fff;
}
